---
layout: default
---
<h1 class="post-headline">{{page.title}}</h1>
<p class="meta"><small>{{page.date | date: '%B %d, %Y'}}</small></p>

{{content}}

<!-- Comments only for posts -->
{% if page.path contains '_posts' %}
    {% if site.disqus-shortname %}
        {% include disqus.html %}
    {% endif %}
    {% assign excerpt_length = site.excerpt_length | default = 50 %}
    {{ post.excerpt | strip_html | xml_escape | truncatewords: excerpt_length}}
    {%% assign excerpt_word_count = post.excerpt | number_of_words %}
{% endif %}
